@model IEnumerable<TutorialsEUIdentity.Models.ProductModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.Name) && item.Price > 0)
        {
            /*
             https://getbootstrap.com/docs/4.2/components/card/
             */
            <div class="card card-hover" style="width: 18rem; margin:10px;">
                <img src="~/Uploads/@item.Image" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="product-desc">@Html.DisplayFor(modelItem => item.Description)</p>

                    <!-- <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p> -->
                   
                    <p>@($"R{item.Price:N0}")</p>
                    <a class="stretched-link" href="/home/ProductDetails/@item.Id"></a>
                </div>
            </div>

        }
        else
        {
            <p>no products available</p>
        }
    }
</div>
